<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: head(title='Strona główna')}"></head>
<body>
<header th:replace="~{fragments :: header}"></header>
<main>
    <h2>Witamy w naszym sklepie internetowym z grami na <i>Nintendo!</i></h2>
    <p style="font-family: 'Arial Narrow',serif">Sprzedajemy same <b>najlepsze klasyki</b>!
        W naszej ofercie znajdziesz część swojego dzieciństwa!
    </p>
    <p>
        Zapraszamy do formularza kontaktowego poniżej w celu uzyskania większej ilości informacji
    </p>
    <a href="/contact" class="click">CLICK</a>
    <h3>Informacje o <i>Nintendo</i></h3>
    <p style="margin-left: 40px; margin-right: 40px">
        Nintendo (jap. 任天堂株式会社 Nintendō Kabushiki-gaisha) – japońskie przedsiębiorstwo założone 23 września 1889 przez Fusajirō Yamauchiego, w celu produkowania kart hanafuda do japońskiej gry o tej samej nazwie.<br> W ciągu kilkudziesięciu lat przedsiębiorstwo zajęło się rynkiem gier konsolowych i stało się jednym z potentatów w tej dziedzinie.<br>
        Wśród najpopularniejszych konsol Nintendo można wymienić Game Boy, Super Nintendo Entertainment System, Nintendo DS, Wii czy Nintendo Switch. Nintendo wydało także wiele wpływowych franczyz, m.in. Mario, The Legend of Zelda, Star Fox oraz Pokémon.<br> Przedsiębiorstwo i jego pracownicy zostali nagrodzeni licznymi nagrodami, w tym Game Developers Choice Awards oraz British Academy Games Awards.
    </p>
</main>
<footer th:replace="~{fragments :: footer}"></footer>
</body>
</html>