<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: head(title='Strona z otrzymanymi mailami')}"></head>
<body>
<header th:replace="~{fragments :: header}"></header>
<main>
    <h1 th:if="${emails.isEmpty()}" style="color: red">Brak wiadomości od klientów</h1>
    <div th:unless="${emails.isEmpty()}" th:each="email: ${emails}">
        <h2>Poniżej możesz odpowiedzieć na wiadomości od klientów</h2>
        <p th:text="'Wiadomość od klienta o nicku: ' + ${email.getSender()}"></p>
        <p th:text="${email.getContent()}" style="background-color: green"></p>
        <form action="/mailsended">
            <label for="clientMail">Odpowiedz do:</label><br>
            <input type="text" id="clientMail" name="clientMail" th:value="${email.getSenderEmailAddress()}"><br>
            <label for="content">Treść odpowiedzi:</label><br>
            <textarea rows="10" cols="50" id="content" name="content"
                      placeholder="Odpowiedz klientowi..."></textarea><br>
            <input class="button" type="submit" value="Wyślij odpowiedź"><br><br>
        </form>
    </div>
    <a href="/">Powrót do strony głównej</a><br>
</main>
<footer th:replace="~{fragments :: footer}"></footer>
</body>