<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <title>Wysłano email</title>
</head>
<body>
<main layout:fragment="content">
  <h2 th:text="'Dziękujemy ' + ${email.getSender()} + ' za wiadomość! Została ona przekazana do biura obsługki klienta.'">
  </h2>
  <h2>Odpowiemy najszybciej jak będzie to tylko możliwe :)</h2>
  <a href="/">Wróć do strony głównej</a>
</main>
</body>
</html>